*.iml
.gradle/
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
**/build/
**/local.properties
**/.gradle/
**/.idea/
**/*.iml
**/captures/
**/.cxx/
*.log
Thumbs.db
